# =========================
# PYTHON
# =========================

venv/
__pycache__/
*.pyc
*.pyo

# =========================
# NODE
# =========================

node_modules/
dist/

# =========================
# DATABASE
# =========================

*.db
*.sqlite3

# =========================
# ENV
# =========================

.env

# =========================
# VECTOR DATABASE
# =========================

chroma_storage/
vector_db/
*.bin

# =========================
# UPLOADS
# =========================

uploads/

# =========================
# CACHE
# =========================

.cache/
.pytest_cache/

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# LOGS
# =========================

*.log

# =========================
# AI MODELS
# =========================

models/
ollama_models/