/* @tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #050816;
    color: white;
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #00F5D4;
    border-radius: 20px;
}

.cyber-grid {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 40px 40px;
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.neon-border {
    border: 1px solid rgba(0, 245, 212, 0.4);
    box-shadow: 0 0 15px rgba(0, 245, 212, 0.2);
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #050816;
    color: white;
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

.cyber-grid {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);

    background-size: 40px 40px;
}

.glass {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.neon-border {
    border: 1px solid rgba(0, 245, 212, 0.3);
    box-shadow: 0 0 15px rgba(0, 245, 212, 0.2);
}